/* src/components/Navbar/Navbar.module.css */

.navLink { 
  font-size: 1.125rem; 
  font-weight: 500;
  text-decoration: none; 
  transition: color 0.2s ease-in-out;
  padding-bottom: 1rem; 
  position: relative; 
  display: inline-block; 
}

.navLink:hover {
  color: #fff; /* hover:text-white */
}

.navLink::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0; 
  width: 0;
  height: 2px;
  background-color: #309df5;
  transition: width 0.3s ease-out;
}

.navLink:hover::after {
  width: 100%;
}