@import "tailwindcss";

:root {
  --background-dark: #10100e; /* This could be your default dark background */
  --background-light: hsl(0, 0%, 96%); /* Example light background */
  --color-off-white: #ffffe3;
  --font-satoshi: 'Satoshi', sans-serif;
}

@theme {
  --color-blue-theme: oklch(37.9% 0.146 265.522);
  --color-blue-theme-button-hover: oklch(37.9% 0.146 267);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-dark: #0a0a0a; 
  }
}

body {
  background: var(--background-dark);
  color: var(--color-off-white);
  font-family: var(--font-satoshi), sans-serif;
  margin: 0; 
  padding: 0;
}

.overlay {
  position: fixed;
  inset: 0; 
  pointer-events: none;
  z-index: 99; 
  background: radial-gradient(
    circle at top left,
    rgba(225, 225, 235, 0.1) 25%, 
    transparent 50vmax 
  );
}
