.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  padding: 20px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  max-width: 850px;
  width: 100%;
  min-height: 375px;
   
}

.sectionWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
  min-height: 4rem;
  line-height: 1.7;
}

.sectionStaticLabel {
  width: 10px;
  text-align: right;
  color: #e2e6e8;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.15em;
  opacity: .2;
  display: flex;
  justify-content: flex-end;
}

.sectionContentArea {
  flex-grow: 1;
  text-align: left;
  line-height: 1.5;
}

.greeting {
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 2rem;
  margin-top: 0;
  padding: 0;
}
